body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}
.maze-container {
    overflow: scroll;
    white-space: nowrap;
    font-size: 0;
    padding: 20px;
}

.maze-square {
    display: inline-block;
    min-height: 15px;
    max-height: 15px;
    min-width: 15px;
    max-width: 15px;
}

.maze-wall {
    /*background-color: #000000;*/
    background-color: #808080;
}

.maze-open {
    background-color: #ffffff;
}

.maze-path {
    /*background-color: #ff0000;*/
    background-color: #ffffff;
}